<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %green(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="com.mansubh" level="DEBUG"/>

    <!--
    TRACE* -> DEBUG -> INFO -> WARN -> ERROR -> FATAL*
    -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
